<% layout('layout/boilerPlate') %> 
<link rel="stylesheet" href="/StyleSheets/starRating.css">
<div class="row mt-3">
    <div class="col-6">
      <div id="campgroundsControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <% campgrounds.images.forEach((e,i) => {%> 
            <div class="carousel-item <%= i===0?'active':'' %> ">
              <img src="<%= e.url %> " class="d-block w-100" alt="..." style="max-height:350px ;">
            </div>
            <% }) %> 
        </div>
       <%  if(campgrounds.images.length>1){ %> 
        <button class="carousel-control-prev" type="button" data-bs-target="#campgroundsControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#campgroundsControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <% } %> 
      </div>
        <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= campgrounds.title %></h5>
              <p class="card-text"><%= campgrounds.description%></p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><%= campgrounds.location %></li>
              <li class="list-group-item">$<%= campgrounds.price %>/night</li>
              <li class="list-group-item">written by <%= campgrounds.auther.username %></li>
            </ul>
            <% if(userName&&campgrounds.auther.equals(userName._id)) {%> 
            <div class="card-body">
                <a class="btn btn-warning" href="/campgrounds/<%= campgrounds._id%>/edit">edit</a>
                <form class="d-inline" action="/campgrounds/<%= campgrounds._id %>?_method=DELETE"method="post">
                    <button class="btn btn-danger">delete</button>
                    </form>
            </div>
            <% } %> 
          </div>
    </div>
    <div class="col-6 mt-3">
      <div id='map' style='height: 300px;'></div>
      <% if(userName){ %> 
      <h2>leave a review</h2>
            <form class="mb-3 validated-form" action="/campgrounds/<%= campgrounds._id %>/review " method="post" novalidate>
              <div class="mb-2">
                <label for="customRange1" class="form-label">rating</label>
                <fieldset class="starability-basic">
                  <input type="radio" id="no-rate" class="input-no-rate" name="rating" value="1" checked aria-label="No rating." />
                  <input type="radio" id="first-rate1" name="rating" value="1" />
                  <label for="first-rate1" title="Terrible">1 star</label>
                  <input type="radio" id="first-rate2" name="rating" value="2" />
                  <label for="first-rate2" title="Not good">2 stars</label>
                  <input type="radio" id="first-rate3" name="rating" value="3" />
                  <label for="first-rate3" title="Average">3 stars</label>
                  <input type="radio" id="first-rate4" name="rating" value="4" />
                  <label for="first-rate4" title="Very good">4 stars</label>
                  <input type="radio" id="first-rate5" name="rating" value="5" />
                  <label for="first-rate5" title="Amazing">5 stars</label>
                </fieldset>
              </div>

                <div class="mb-3">
                  <label for="exampleFormControlTextarea1" class="form-label">review</label>
                  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="review" required></textarea>
                </div>         
                <button class="btn btn-info">submit</button>
            </form>
            <% } %> 
            <% for (let e of campgrounds.reviews){ %> 
              <div class="card my-3">
                <div class="card-body">
                  <h6 class="card-subtitle mb-2 text-muted"><%= e.user.username %></h6>
                  <p class="starability-result" data-rating="<%= e.rating %>">
                    Rated: <%= e.rating %>  stars
                  </p>
                  <p class="card-text">review: <%= e.review %> </p>
                  <% if(userName&&e.user.equals(userName._id)){ %> 
                  <form action="/campgrounds/<%= campgrounds._id %>/delete/<%= e._id %>?_method=DELETE " method="post">
                    <button class="btn btn-danger">delete</button>
                  </form>
                  <% } %> 
                </div>
              </div>
              <% } %> 
    </div>
</div>  
    <a href="/campgrounds">campgrounds</a> 

    <script>
      const token='<%-process.env.MAP_BOX_TOKEN %>';
      const campground= <%-JSON.stringify(campgrounds) %>
    </script>
<script src="/javaScript/mapbox.js"></script>
